body {
  font-family: verdana, helvetica, arial, sans-serif;
}
.hidden {
  display: none
}
.container {
  padding-top: 50px;
  width: 320px;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
}
.body-container {
  padding: 0.5em;
}
.heading {
  text-align: center;
}
.login-body label {
  color: #555;
}

.login-body form {
  border: 1px solid #e5e5e5;
  box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  display: block;
}
.login-body fieldset {
  padding: 1em;
  border: none;
}
.login-body input {
  font-weight: 200;
  font-size: 24px;
  line-height: 1;
  border: 1px solid #e5e5e5;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  background: #fbfbfb;
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}
.submit input{
  font-size: 15px;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  border-color: #21759b;
  background: #21759b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-color: #1e6a8d;
  box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
p.submit {
  margin: 12px;
  margin-bottom: 0px;
  padding-left: 180px;
}
.login-more {
  margin: 0 0 0 16px;
  padding: 16px 16px 0;
}
.login-more a {
  color: #21759b!important;
}
.footer {
  margin: 0 0 0 16px;
  padding: 16px 16px 0;
  display: none;
}

